{% extends "base.html" %}


{% block content %}



    <div class="row">
        <div class ="col-sm-3">
            <h1>{{ request.user }}</h1>
        </div>
        <div class ="col-sm-9 col-sm-offest-3">
            <div>
            {% if not request.GET.get.q %}


            {% include "tweets/form.html" with form=create_form action_url=create_url btn_title="Tweet" %}
                
            </div>
            <hr/>


            {% endif %}
            {% for object in object_list %}

            <div class="media">
              <div class="media-left">
              </div>

              <div class="media-body">
                <h4 class="media-heading">{{ object.content }}</h4>

                Tweet by: <a href="profiles/{{ object.user }}">{{ object.user }}</a><br/>
                Tweet time: {{ object.timestamp }}
                | <a href="{{ object.get_absolute_url }}">View</a>
                </p>

              </div>
            </div>
                <hr/>



        {% empty %}
            {% if request.GET.q %}
            <p>Not tweets found.</p>
            {% else %}

            <p>Not tweets yet.</p>
            {% endif %}

        {% endfor %}
        </div>
    </div>

{% endblock content %}